<template>
    <div class="container mx-auto">
        <h1>File Share</h1>

        <div class="mt-4">
            <form action="">
                <input type="file" ref="shareForm" @change="handleFileUpload" class="w-full px-4 py-3 rounded bg-grey">
            </form>
        </div>
        <br>
        <div>
            <div>
                <button type="button" @click="connect" v-if="!isConnected" class="px-3 py-4 bg-blue-dark text-white rounded">Connect</button>
                <button type="button" @click="disconnect" v-if="isConnected" class="px-3 py-4 bg-red-dark text-white rounded">Disconnect</button>
            </div>
            <div class="my-5">
                <button @click="sendFile" v-if="fileData != '' && isConnected" class="px-3 py-4 bg-green-dark text-white rounded" type="button">Send File</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Peer from 'peerjs'
    export default {
        name: "FileShare",
        data( ){
            return {
                connection : '',
                isConnected: false,
                fileData: ''
            }
        },
        methods: {
            connect() {
                this.connection = new Peer('sender', {
                    key: 'peerjs',
                    port: 9000,
                    host: window.location.host,
                    path: '/peers'
                });
                this.connection.on('open', () => {
                    this.isConnected = true;
                    console.log('Connection is now open')
                })
            },
            handleFileUpload(event) {
                this.fileData = event.target.files[0];
            },
            disconnect() {
                this.connection.disconnect();
                this.isConnected = false;
            },
            sendFile(){
                let con = this.connection.connect('receiver')

                con.on('open', () => {
                    console.log(this.fileData.type)
                    let blob = new Blob([this.fileData], {type:this.fileData.type})
                    con.send({
                        name: this.fileData.name,
                        file: blob,
                        type: this.fileData.type
                    });
                    console.log('connection open')
                })

            }
        }
    }
</script>

<style scoped>

</style>