<template>
    <div class="container mx-auto">
        <h1>File Share</h1>

        <div class="mt-4">
            <form action="">
                <input type="file" @change="handleFileUpload" class="w-full px-4 py-3 rounded bg-grey">
            </form>
        </div>
        <br>
        <div>
            <div>
                <button type="button" @click="connect" v-if="!isConnected" class="px-3 py-4 bg-blue-dark text-white rounded">Connect</button>
                <button type="button" @click="disconnect" v-if="isConnected" class="px-3 py-4 bg-red-dark text-white rounded">Disconnect</button>
            </div>
            <div class="my-5">
                <button @click="sendFile" v-if="fileData != '' && isConnected" class="px-3 py-4 bg-green-dark text-white rounded" type="button">Send File</button>
            </div>
        </div>
        <div class="px-5 py-5">
            <h2>Receiving Files</h2>
            <ul>
                <li v-for="file in sharedFiles">
                    <a :href="getUrl(file)" download >Download</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import Peer from 'peerjs'
    export default {
        name: "FileShare",
        data( ){
            return {
                connection : '',
                isConnected: false,
                fileData: '',
                sharedFiles: []
            }
        },
        methods: {
            connect() {
                this.connection = new Peer('receiver', {
                    key: 'peerjs',
                    port: 9000,
                    host: window.location.host,
                    path: '/peers',
                    reliable: true
                });
                this.connection.on('open', () => {
                    this.isConnected = true;
                    console.log('Connection is now open')
                })
                this.connection.on('connection', (con) => {
                    con.send('Hello again')
                    con.on('data', (data) => {
                        console.log(data)
                        this.sharedFiles.push(data);
                    })

                })
            },
            getUrl(file) {
                let blob = new Blob([file.file], {type: file.type})
                return URL.createObjectURL(blob);
            },
            handleFileUpload(event) {
                this.fileData = event.target.files[0];
            },
            disconnect() {
                this.connection.disconnect();
                this.isConnected = false;
            },
            sendFile(){
                this.connection.connect('receiver')
            }
        }
    }
</script>

<style scoped>

</style>